apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: stock-management
data:
  application.yml: |
    management:
      endpoints:
        web:
          exposure:
            include: '*'
      tracing:
        sampling:
          probability: 1.0
      zipkin:
        tracing:
          endpoint: http://zipkin:9411/api/v2/spans
    
  product-service.yml: |
    server:
      port: 8081
    spring:
      datasource:
        url: jdbc:postgresql://postgres-product:5432/product_db
        username: postgres
        password: postgres
      data:
        redis:
          host: redis
          port: 6379
      cache:
        type: redis
        redis:
          time-to-live: 3600000
    eureka:
      client:
        service-url:
          defaultZone: http://discovery-service:8761/eureka/
  
  inventory-service.yml: |
    server:
      port: 8082
    spring:
      datasource:
        url: jdbc:postgresql://postgres-inventory:5432/inventory_db
        username: postgres
        password: postgres
      data:
        redis:
          host: redis
          port: 6379
      rabbitmq:
        host: rabbitmq
        port: 5672
        username: admin
        password: admin
    eureka:
      client:
        service-url:
          defaultZone: http://discovery-service:8761/eureka/
  
  order-service.yml: |
    server:
      port: 8083
    spring:
      datasource:
        url: jdbc:postgresql://postgres-order:5432/order_db
        username: postgres
        password: postgres
      rabbitmq:
        host: rabbitmq
        port: 5672
        username: admin
        password: admin
    eureka:
      client:
        service-url:
          defaultZone: http://discovery-service:8761/eureka/
  
  customer-service.yml: |
    server:
      port: 8084
    spring:
      datasource:
        url: jdbc:postgresql://postgres-customer:5432/customer_db
        username: postgres
        password: postgres
      rabbitmq:
        host: rabbitmq
        port: 5672
        username: admin
        password: admin
    eureka:
      client:
        service-url:
          defaultZone: http://discovery-service:8761/eureka/
  
  supplier-service.yml: |
    server:
      port: 8085
    spring:
      datasource:
        url: jdbc:postgresql://postgres-supplier:5432/supplier_db
        username: postgres
        password: postgres
    eureka:
      client:
        service-url:
          defaultZone: http://discovery-service:8761/eureka/
  
  authentication-service.yml: |
    server:
      port: 8090
    spring:
      datasource:
        url: jdbc:postgresql://postgres-auth:5432/auth_db
        username: postgres
        password: postgres
      data:
        redis:
          host: redis
          port: 6379
    jwt:
      secret: 404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
      expiration: 86400000
      refresh-expiration: 604800000
    eureka:
      client:
        service-url:
          defaultZone: http://discovery-service:8761/eureka/
    
      


